################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test2/v15
/ConsoleApp1
/lesson2
